PYTHON DATA SCIENCE

In [4]:
_='hello'
print(_)

hello

In [6]:
# 1. option b

In [8]:
# 2. option a

if 1+2==3:
    print('yes')
else:
    print('no')

yes

In [22]:
# 3.
float('inf')
float('nan')
float('56+78')

ValueError: could not convert string to float: '56+78'

In [ ]:
# 4. '#' make single line comment in python

In [10]:
print(1+2==3)

True

In [12]:
# 6. option 
str1="Application"
str2=str1.replace('a','A')
print(str2)

ApplicAtion

In [2]:
#7.
str1= "stock of books"
print(len(str1))

14

In [30]:
# 9. 
str1="john,simon,aryan"
print(str1[-7:-12])
print(str1[-11:-6])

simon

In [10]:
#11
list1=[]
list11=[]*3

In [9]:
# 12.  option a
list1=[8,0,9,5]
print(list1[::-1])

[5, 9, 0, 8]

In [23]:
#18. 
tupl1=(2,3,4)
tuple3=tupl1*2
print(tuple3)

(2, 3, 4, 2, 3, 4)

In [11]:
tupl=([2,3],"abc",0,9)
tupl[0][1]=1
print(tupl)

([2, 1], 'abc', 0, 9)

In [18]:
#20
tup=()
tup1=tup*2
print(len(tup1))

0

In [ ]:
#21. option A

In [ ]:
#27.
if is.digit()

In [ ]:
# 29.
def fun(a,b,c=1):

In [4]:
#34
dict11={'a':10,'b':2,'c':3}
str11=''
for i in dict11:
    str11=str11+str(dict11[i])+' '
    str22=str11[:-1]
print(str22[::-1])

3 2 01

In [3]:
#35.
dict1={'a':1,'b':2,'c':3}
# print(len(dict1))
# print(dict1.get("b"))
dict1["a"]=5
print(dict1)

{'a': 5, 'b': 2, 'c': 3}

In [7]:
#49
print("hello"+ 2 +"world")

TypeError: can only concatenate str (not "int") to str

In [ ]:
9