In [1]:
print("Hello world")

Hello world

In [9]:
list1=[1,2,3,46,78,4]
print(list1)
print(type(list1))

tuple1=(2,3,45,6,2)
print(tuple1)
print(type(tuple1))

set1={1,2,3,4,5,6,6}
print(set1)
print(type(set1))


dict1={"name":"dewansh","age":23}
print(dict1)
print(type(dict1))
type(dict1)

name="dewansh"
type(name)

[1, 2, 3, 46, 78, 4]
<class 'list'>
(2, 3, 45, 6, 2)
<class 'tuple'>
{1, 2, 3, 4, 5, 6}
<class 'set'>
{'name': 'dewansh', 'age': 23}
<class 'dict'>

str

In [11]:
#calc the area of circle

r=7
area=(22/7)*r*r
print(area)

154.0

In [2]:
#calc the gross salary 

basic_salary=50000
hra=(5/100)*basic_salary
da=basic_salary/10
gross_salary=basic_salary+hra+da
gross_salary=int(gross_salary)
print(gross_salary)

57500

In [15]:
age=int(input("Enter your age"))
if(age>=18):
    print("Eligible for vote")
else:
    print("Not eligible for vote")

Eligible for vote

In [16]:
side1=int(input("Enter a side one"))
side2=int(input("Enter a side two"))
side3=int(input("Enter a side third"))
if(side1==side2 and side2==side3):
    print("tringle is equilateral")
else:
    print("trianlge is isoceles")

trianlge is isoceles

In [1]:

list1=["a","e","i","o","u"]
c=input("Enter a character")
if c in list1:
    print("vowel")
else:
    print("not vowel")

vowel

NESTED IF

In [4]:
x=6
y=1
if x>5:
    if y>2:
        print("both the condition are greater than 5 and 2")
    else:
        print("x is greater than 5 but y is less than 2")
else:
    print("x is not greater than 5")

x is greater than 5 but y is less than 2

In [6]:
username=input("Enter the username")
email=input("Enter a email")
pwd=input("Enter a password")
pwd2=input("Enter a password again")
if len(username)>=4 and len(username)<=15:
    if "@gmail.com" in email and len(email)>0:
        if pwd==pwd2:
            print("Account is created successfully üòÅ")
        else:
            print("password doesn't matchüòí")
    else:
         print("Wrong email enteredü§∑‚Äç‚ôÄÔ∏è")
else:
    print("Wrong username interedüò¢")

Wrong email enteredü§∑‚Äç‚ôÄÔ∏è

loops

In [7]:
a=[2,3,4,5,6,7,8]
for i in a:
    print(i)

2
3
4
5
6
7
8

In [9]:
a=[2,3,4,5,6,7,8]
for i in a:
    print(i, end=" ")    #important line for printing a list in one line we use end function

2 3 4 5 6 7 8

In [13]:
b="hello world"
for x in b:
    print(x)

h
e
l
l
o

w
o
r
l
d

In [15]:
for i in range(11):
    print("dewansh")

dewansh
dewansh
dewansh
dewansh
dewansh
dewansh
dewansh
dewansh
dewansh
dewansh
dewansh

In [1]:
print("hello world", 7)

hello world 7

In [3]:
'''
hey i am here
where are you
'''
print("hey i am \"good boy\" \n and this viewer is also good boy")

hey i am "good boy"
 and this viewer is also good boy

In [8]:
print("hey",6,7,sep="~")

hey~6~7

In [14]:
a=111111
b="dewansh"
c=complex(4,4)
print(type(c))

<class 'complex'>

In [16]:
# a="1"
a=1
# b="1"
b=1
print(a+b)

2

In [2]:
name="dewanhs"
friend1="yadav"
friend2="shukla"
print(name+ friend1+ friend2)

dewanhsyadavshukla

slicing of string

In [4]:
names="dewansh,vipin"
length=len(names)
print(len(names))
print(names[0:7])
print(length)
print(names[0:-5])  #last 5 are not included
print(names[2:8])
print(names[-3:-1])

13
dewansh
13
dewansh,
wansh,
pi

In [10]:
size=len(names)
names[2:size]

'wansh,vipin'

In [11]:
names[1:-3:-1]

''

In [12]:
names[::-1]

'nipiv,hsnawed'

In [6]:
c="hey i am dewansh!!!"
print(len(c))
print(c.upper())  #upper case 
print(c.lower())
print(c.rstrip("!"))   # rstrip remove the eclaimation marks(!)
print(c.replace("dewansh","sachin"))  #. replace function raplces the past string
print(c.split(" "))   #.split convert the string into list
print(c.capitalize())
print(c.count("dewansh"))

19
HEY I AM DEWANSH!!!
hey i am dewansh!!!
hey i am dewansh
hey i am sachin!!!
['hey', 'i', 'am', 'dewansh!!!']
Hey i am dewansh!!!
1

In [8]:
str1="welcome to the console!!"
print(len(str1))
print(str1.center(50))
print(str1.endswith("!!"))
print(str1.find("to"))
print(str1.index("to"))
print(str1.find("too"))
print(str1.islower())
print(str1.isprintable())  #\n is not a printable
print(str1.istitle())  #every word should starts with capital leter then it return true statement
print(str1.swapcase())  #converts to small to capital and vice versa
print(str1.title())  #covert first character of word into upper case

24
             welcome to the console!!
True
8
8
-1
True
True
False
WELCOME TO THE CONSOLE!!
Welcome To The Console!!

In [1]:
for i in range(4):
 if i==2:
   print(i)
   i=10

2

In [2]:
for x in range(10):
       if x == 6:
           print(x,end="")
print(x)

69

In [5]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list[7:18])

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c']

In [7]:
players = ['Jadeja','Rahul','Rohit']
players+=['dhoni','virat']
print(players)

['Jadeja', 'Rahul', 'Rohit', 'dhoni', 'virat']

In [8]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [9]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [1]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [3]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}
freshers['student3']['salary'] = 8500
print(freshers)

{'student1': {'name': 'yash', 'salary': 7500}, 'student2': {'name': 'heet', 'salary': 8000}, 'student3': {'name': 'smit', 'salary': 8500}}

In [4]:
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)

{'Sheldon': 1, 'Leonard': 2, 'Penny': 2}

In [8]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len('set1' + 'set2'))

8

In [13]:
sets = {3, 4, 5}
#sets.update([1, 2, 3])
sets = sets.union({1, 2, 3})
print(sets)

{1, 2, 3, 4, 5}

In [12]:
a={'Aurn', 'Nikhil', 'Seeta'}
a[0]= 'Arun'
print(a)

TypeError: 'set' object does not support item assignment