In [1]:
a="Hello World"
print(a)

Hello World

In [2]:
print(a[6])

W

In [3]:
print(a[6:])

World

#ASCII CODE

In [6]:
c=chr(89)
print(c)

Y

In [9]:
d=chr(125)
print(d)

}

In [10]:
#char to integer using ord funtion

b=ord('G')
print(b)

71

In [12]:
#item convert string

s=str(23)
print(s)
type(s)

23

str

#String Concatenation

In [14]:
aa="hello"
bb="world"
print(aa+" "+bb)

hello world

In [15]:
a=20
b=10
sum=a+b
print(f"sum of {a} and {b} is {sum}")   # f function us used only for formating

sum of 20 and 10 is 30

In [19]:
# string multiplication 

a="hello "
print(a*5)

hello hello hello hello hello

In [20]:
x="Hey, i am trying my best to be a good data analyst"
x.upper()

'HEY, I AM TRYING MY BEST TO BE A GOOD DATA ANALYST'

In [21]:
x.lower()

'hey, i am trying my best to be a good data analyst'

In [22]:
x.capitalize()

'Hey, i am trying my best to be a good data analyst'

In [24]:
str="you are phool"
str.split()

['you', 'are', 'phool']

In [32]:
str=["you","are","phool"]
for i in str :
    print(i.capitalize(),end=" ")

You Are Phool

In [1]:
poem= '''johny johny yes papa
eating sugar no papa
telling a lie no papa
open tour mouth haha'''
print(poem)
poem.count('a')
poem.splitlines()

johny johny yes papa
eating sugar no papa
telling a lie no papa
open tour mouth haha

['johny johny yes papa',
 'eating sugar no papa',
 'telling a lie no papa',
 'open tour mouth haha']

In [37]:
b=poem.replace("papa","fufaji")
print(b)

johny johny yes fufaji
eating sugar no fufaji
telling a lie no fufaji
open tour mouth haha

In [40]:
b=poem.replace("papa","fufa").replace("sugar","poison").replace("no","yes")
print(b)

johny johny yes fufa
eating poison yes fufa
telling a lie yes fufa
open tour mouth haha

In [45]:
b.find("poison")

28

In [47]:
# to convert many strings in one string

path=["D:","Users","Newfolder","documents","download"]
print('/'.join(path))

D:/Users/Newfolder/documents/download

#Dictionary

In [1]:
students={"name":"Dewansh","class":"10th","section":"A","roll no":4,"marks":100}
print(students)

{'name': 'Dewansh', 'class': '10th', 'section': 'A', 'roll no': 4, 'marks': 100}

In [2]:
# method 1st

print(students['name'])

Dewansh

In [3]:
print(students['roll no'])

4

In [4]:
#2nd method 
print(students.get('name'))
print(students.get("roll no"))

Dewansh
4

In [5]:
# to add items in a dictionary

students['age']=22
students['address']="california"
students['phone number']=7392880219
print(students)

{'name': 'Dewansh', 'class': '10th', 'section': 'A', 'roll no': 4, 'marks': 100, 'age': 22, 'address': 'california', 'phone number': 7392880219}

In [6]:
for key in students:
    print(key)

name
class
section
roll no
marks
age
address
phone number

In [10]:
for value in students:
    print(students[value])

Dewansh
10th
A
4
100
22
california
7392880219

In [16]:
for key,value in students.items():
    print(f'{key} : {value}')         #print(key,value) also be done

name : Dewansh
class : 10th
section : A
roll no : 4
marks : 100
age : 22
address : california
phone number : 7392880219

In [17]:
company={
    'emp001' : {"name":"Dewansh","age":23,"salary":1500000,"dept":"DA"},
    'emp002' : {"name":"shivam","age":24,"salary":100000,"dept":"HR"},
    'emp003' : {"name":"shrey","age":25,"salary":15000,"dept":"AI"},
    'emp004' : {"name":"rahul","age":21,"salary":150000,"dept":"marketing"}
    }
print(company)

{'emp001': {'name': 'Dewansh', 'age': 23, 'salary': 1500000, 'dept': 'DA'}, 'emp002': {'name': 'shivam', 'age': 24, 'salary': 100000, 'dept': 'HR'}, 'emp003': {'name': 'shrey', 'age': 25, 'salary': 15000, 'dept': 'AI'}, 'emp004': {'name': 'rahul', 'age': 21, 'salary': 150000, 'dept': 'marketing'}}

In [18]:
print(company['emp001'])

{'name': 'Dewansh', 'age': 23, 'salary': 1500000, 'dept': 'DA'}

In [19]:
print(company['emp001']['name'])

Dewansh

In [20]:
# to add data of 5th employee in the company data

company['emp005'] = {"name":"Rajeev","age":22,"salary":20000, "dept":"Software developer"}
print(company)

{'emp001': {'name': 'Dewansh', 'age': 23, 'salary': 1500000, 'dept': 'DA'}, 'emp002': {'name': 'shivam', 'age': 24, 'salary': 100000, 'dept': 'HR'}, 'emp003': {'name': 'shrey', 'age': 25, 'salary': 15000, 'dept': 'AI'}, 'emp004': {'name': 'rahul', 'age': 21, 'salary': 150000, 'dept': 'marketing'}, 'emp005': {'name': 'Rajeev', 'age': 22, 'salary': 20000, 'dept': 'Software developer'}}